<div class="d-flex justify-content-center">
  <p class="btn-group align-self-center">
    <button type="button" class="btn btn-primary" [routerLink]="['/herolist/']">Full List</button>
    <button type="button" class=" btn btn-primary" [routerLink]="['/herolist/DC']" >DC Universe</button>
    <button type="button" class="btn btn-primary" [routerLink]="['/herolist/marvel']" >Marvel Universe</button>
    <button type="button" class="btn btn-primary" [routerLink]="['/pokedex']" >Pokemon List</button>
  </p>
  




</div>